body{
    background-image: url('https://github.com/images/modules/site/heroes/simple-codelines.svg') !important;
    background-color: #2C3137;
    min-height: 850px;
    /* background-repeat: repeat; */
    background-size: contain;
  }
  .show {
    display: block;
    margin: 10px 5px;
    text-align: center;
    float: left;
    width: 200px;
    height: 250px;
    background-color: #5EA54A;
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px;
  }
  .username {
    font-size: 20px;
    color: white;
  }
  .results {
    display: inline-block;
    margin: 0 5%;
    text-align: center;
  }

  .avatar {
    width: 100px;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid gray;
    box-shadow: 5px;
  }

  .link {
    width: 20%;
    margin: 5px;
  }
  @media screen and (max-width: 800px) {

    body {
      background-color: #2C3137;
    }
    
  }
