@media screen and (max-width:1850px){
.row {
   display: flex;
   margin: 10%;
}
.col1 {
    float: left;
    flex:50%;
    width:60%;
    margin-right: 1%;
}
.col2{
    float: left;
    flex:50%;
    width: 40%;
}

.info h1{
    font-size: 70px;
    color: white;
    text-align: left;
    font-weight: normal;
} 
.info p {
    display: none;
}

.info2 {
    display: block;
    font-family: sans-serif;
}
.info2 p {
    font-size: 25px;
    color: #ABADAF;
}
.info2 a {
    color: white;
    text-decoration: underline;
}
.searchForm {
    width: 70%;
    background-color: #FAFBFC;
    border-radius: 2px;
    padding: 10px 30px;
    font-family: sans-serif;
    font-size: 15px;
}
.username {
    color: gray;
} 

.userinput {
    color: lightgray;
    display:block;
    border-radius: 5px;
    border: 1px lightgray solid;
    padding: 2px 5px;
    width: 100%;
}
.userinput:focus {
    outline: 2px solid #BDCEF1;        
}
.submit {
    margin-top: 20px;
    height: 60px;
    width: 100%;
    border-radius: 5px;
    background-color:#6cc644;
    color: white;
}
.submit:hover{
    background-color:#5EA54A; 
}
.text {
    font-family: sans-serif;
    color: gray;
    text-align: center;
    margin-top: 20px;
    font-size: 10px;
    }
}

@media screen and (max-width: 700px) {
    .row {
        display: block;
     }
     .col1 {
        width: 80%;
        margin: 0 5%;
        text-align: center;
     }
    .col2 {
        width: 80%;
        margin: 0 20%;
    }
    .searchForm {
        display: b
    }
    .info h1 {
        text-align: center;
        font-size:30px;
    }
    .info2 p{
        font-size:18px;
    }
}